version: "3.9"

services:
  web:
    build: .
    container_name: flask_app
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/flaskdb
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    container_name: mongo_db
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
